.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container section{
    display: flex;
    width: 80%;
    background-color: white;
    padding-left: 50px;
}

.container section .left-content{
    flex: 60%;
    padding-right: 10px;
}

.container section .right-content{
    flex: 40%;
}

.description-text p{
    text-align: justify;
}

#contact{
    background-color: rgb(241, 118, 36);
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
    text-decoration: none;
}

#cv{
    color: rgb(241, 118, 36);
    margin-left: 25px;
    text-decoration: none;
}

.medsos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.medsos-container a{
    color: rgb(241, 118, 36);
    margin: 20px 20px;
}

section div.card{
    box-shadow: 0 0 30px rgb(223, 223, 223);
    border-radius: 15px;
    margin: 75px 25px;
    text-align: center;
    padding-bottom: 10px;
}

div.card img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

div.card hr{
    width: 70%;
}
